#load {
    width:100%;
    height:100vh;
    background-color: #20173E;
    position: fixed;
    top:0;
    left:0;
}
#load::before{
    position: absolute;
    width: 300px;
    height: 300px;
    content: '';
    background-image: linear-gradient(
        to bottom right,
        #B914D4, #D7B868
    );
    border-radius: 50%;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    filter: blur(120px);
    opacity: 0.8;
}
#load .item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    --i: 0s;
    opacity: 0;
    animation: animationLoad 3s var(--i) linear infinite;
}

#load .item::before {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #25E2BC;
    content: '';
    border-radius: 50%;
}
@keyframes animationLoad{
    0%{
        transform: rotate(0) scale(3);
        opacity: 0;
        filter: blur(3px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform:  rotate(360deg) scale(0.5);
        filter: blur(0);
    }
}